  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.linkedin.com/in/tomnissens/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://scholar.google.nl/citations?user=vUZYCREAAAAJ&hl=en" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="mailto:tom.nissens@gmail.com">Email</a>
                        </li>
                        <!-- <li><a>tom.nissens@gmail.com</a> -->
                        <!-- </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
